.bpmController {
  display: flex;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  align-items: center;
}

.buttonsContainer button {
  padding: 6px 16px;
}

.buttonsContainer button:first-of-type {
  border: 1px solid #ddd;
  border-radius: 4px 0px 0 4px;
}

.buttonsContainer button:last-of-type {
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.bpmController button:hover {
  background: #e0e0e0;
}
