.bpmController {
  display: flex;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  height: 40px;
  align-items: center;
}

.buttonsContainer button:first-of-type {
  border: 1px solid #ddd;
  border-radius: 6px 0px 0 6px;
}

.buttonsContainer button:last-of-type {
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 6px 6px 0;
}

.bpmController button:hover {
  background: #e0e0e0;
}
