.beatVisualizer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.beatCircle:global {
  animation: fadeIn 0.1s ease-in;
}

.beatCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgray;
  transition: background-color 0.3s ease;
}

.beatCircleActive {
  background-color: dodgerblue;
}
