.volumeController {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  margin: 20px 0 10px 0;
}

.volumeController label {
  margin-right: 10px;
}

.volumeController input {
  width: 65%;
}
