.volumeController {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 14px;
}

.slider {
  transition: width 0.3s, transform 0.3s;
}

.sliderHidden {
  composes: slider;
  width: 0;
}

.sliderVisible {
  composes: slider;
  width: 100%;
}
