.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.buttons-container button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
